In [154]:
import pandas as pd

# Data Cleaning

In [155]:
# importing .csv files  
latin_csv = "ObesityDataSet_raw_and_data_sinthetic.csv"
usa_csv = "obesity_data.csv"

latin_data = pd.read_csv(latin_csv)
usa_data = pd.read_csv(usa_csv)

In [156]:
# renaming columns
latin_rename = ['Gender', 'Age', 'Height', 'Weight', 'Family_history_with_overweight', 'High_caloric_food_freq', 'Vegetables_eating_freq', 'Daily_main_meals', 'Any_food_between_meals', 'Smoke', 'Daily_water', 'Monitor_daily_calories', 'Activity_freq', 'Tech_usage_time', 'Alcohol_freq', 'Transportation_type', 'Obesity_level']
usa_rename = ['Age', 'Gender', 'Height', 'Weight', 'BMI', 'Activity_freq', 'Obesity_level']

latin_data.columns = latin_rename
usa_data.columns = usa_rename

In [157]:
latin_data
#usa_data

,Gender,Age,Height,Weight,Family_history_with_overweight,High_caloric_food_freq,Vegetables_eating_freq,Daily_main_meals,Any_food_between_meals,Smoke,Daily_water,Monitor_daily_calories,Activity_freq,Tech_usage_time,Alcohol_freq,Transportation_type,Obesity_level
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [158]:
# checks the unique values 
#usa_data['Obesity_level'].unique()
#usa_data['Activity_freq'].unique()

latin_data['Obesity_level'].unique()
#latin_data['Activity_freq'].unique()

array(['Normal_Weight', 'Overweight_Level_I', 'Overweight_Level_II',
       'Obesity_Type_I', 'Insufficient_Weight', 'Obesity_Type_II',
       'Obesity_Type_III'], dtype=object)

In [159]:
# for making the obesity level of latin america like usa datas
def obesity_fix(level):
    if level == 'Normal_Weight':
        return 'Normal'
    elif level in ['Overweight_Level_I', 'Overweight_Level_II']:
        return 'Overweight'
    elif level in ['Obesity_Type_I', 'Obesity_Type_II', 'Obesity_Type_III']:
        return 'Obese'
    elif level == "Insufficient_Weight":
        return 'Underweight'
    else:
        return level

In [160]:
latin_data['Obesity_level'] = latin_data['Obesity_level'].apply(obesity_fix)
    
latin_data

,Gender,Age,Height,Weight,Family_history_with_overweight,High_caloric_food_freq,Vegetables_eating_freq,Daily_main_meals,Any_food_between_meals,Smoke,Daily_water,Monitor_daily_calories,Activity_freq,Tech_usage_time,Alcohol_freq,Transportation_type,Obesity_level
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obese
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obese
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obese
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obese
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obese

In [161]:
# fix issue with the format and rounding of number values
latin_data['Activity_freq'] = latin_data['Activity_freq'].apply(lambda val: round(val) if val else val)
latin_data['Height'] = latin_data['Height'].apply(lambda val: format(val, '.2f'))
latin_data['Weight'] = latin_data['Weight'].apply(lambda val: round(val, 2))
latin_data['Age'] = latin_data['Age'].apply(lambda val: format(val, '.0f'))
latin_data['Activity_freq'] = latin_data['Activity_freq'].apply(lambda val: format(val, '.0f'))

latin_data

,Gender,Age,Height,Weight,Family_history_with_overweight,High_caloric_food_freq,Vegetables_eating_freq,Daily_main_meals,Any_food_between_meals,Smoke,Daily_water,Monitor_daily_calories,Activity_freq,Tech_usage_time,Alcohol_freq,Transportation_type,Obesity_level
0,Female,21,1.62,64.00,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0,1.000000,no,Public_Transportation,Normal
1,Female,21,1.52,56.00,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3,0.000000,Sometimes,Public_Transportation,Normal
2,Male,23,1.80,77.00,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2,1.000000,Frequently,Public_Transportation,Normal
3,Male,27,1.80,87.00,no,no,3.0,3.0,Sometimes,no,2.000000,no,2,0.000000,Frequently,Walking,Overweight
4,Male,22,1.78,89.80,no,no,2.0,1.0,Sometimes,no,2.000000,no,0,0.000000,Sometimes,Public_Transportation,Overweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,21,1.71,131.41,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,2,0.906247,Sometimes,Public_Transportation,Obese
2107,Female,22,1.75,133.74,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1,0.599270,Sometimes,Public_Transportation,Obese
2108,Female,23,1.75,133.69,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1,0.646288,Sometimes,Public_Transportation,Obese
2109,Female,24,1.74,133.35,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1,0.586035,Sometimes,Public_Transportation,Obese
2110,Female,24,1.74,133.47,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1,0.714137,Sometimes,Public_Transportation,Obese

In [162]:
usa_data

,Age,Gender,Height,Weight,BMI,Activity_freq,Obesity_level
0,56,Male,173.575262,71.982051,23.891783,4,Normal weight
1,69,Male,164.127306,89.959256,33.395209,2,Obese
2,46,Female,168.072202,72.930629,25.817737,4,Overweight
3,32,Male,168.459633,84.886912,29.912247,3,Overweight
4,60,Male,183.568568,69.038945,20.487903,3,Normal weight
...,...,...,...,...,...,...,...
995,18,Male,155.588674,64.103182,26.480345,4,Overweight
996,35,Female,165.076490,97.639771,35.830783,1,Obese
997,49,Female,156.570956,78.804284,32.146036,1,Obese
998,64,Male,164.192222,57.978115,21.505965,4,Normal weight
999,66,Female,178.537130,74.962164,23.517168,1,Normal weight

In [163]:
# changes hight to meters
usa_data['Height'] = usa_data['Height'].apply(lambda val: round(val / 100, 2))
usa_data

     Age  Gender  Height     Weight        BMI  Activity_freq  Obesity_level
0     56    Male    1.74  71.982051  23.891783              4  Normal weight
1     69    Male    1.64  89.959256  33.395209              2          Obese
2     46  Female    1.68  72.930629  25.817737              4     Overweight
3     32    Male    1.68  84.886912  29.912247              3     Overweight
4     60    Male    1.84  69.038945  20.487903              3  Normal weight
..   ...     ...     ...        ...        ...            ...            ...
995   18    Male    1.56  64.103182  26.480345              4     Overweight
996   35  Female    1.65  97.639771  35.830783              1          Obese
997   49  Female    1.57  78.804284  32.146036              1          Obese
998   64    Male    1.64  57.978115  21.505965              4  Normal weight
999   66  Female    1.79  74.962164  23.517168              1  Normal weight

[1000 rows x 7 columns]

In [164]:
# rounds the values to 2 decimals
usa_data[['Weight', 'BMI']] = usa_data[['Weight', 'BMI']].apply(lambda x: x.apply(lambda y: round(y, 2)))
usa_data

     Age  Gender  Height  Weight    BMI  Activity_freq  Obesity_level
0     56    Male    1.74   71.98  23.89              4  Normal weight
1     69    Male    1.64   89.96  33.40              2          Obese
2     46  Female    1.68   72.93  25.82              4     Overweight
3     32    Male    1.68   84.89  29.91              3     Overweight
4     60    Male    1.84   69.04  20.49              3  Normal weight
..   ...     ...     ...     ...    ...            ...            ...
995   18    Male    1.56   64.10  26.48              4     Overweight
996   35  Female    1.65   97.64  35.83              1          Obese
997   49  Female    1.57   78.80  32.15              1          Obese
998   64    Male    1.64   57.98  21.51              4  Normal weight
999   66  Female    1.79   74.96  23.52              1  Normal weight

[1000 rows x 7 columns]

In [165]:
# changes type of  columns
latin_data["Height"] = latin_data["Height"].astype(float)
latin_data["Age"] = latin_data["Age"].astype(int)
latin_data["Activity_freq"] = latin_data["Activity_freq"].astype(int)
latin_data

,Gender,Age,Height,Weight,Family_history_with_overweight,High_caloric_food_freq,Vegetables_eating_freq,Daily_main_meals,Any_food_between_meals,Smoke,Daily_water,Monitor_daily_calories,Activity_freq,Tech_usage_time,Alcohol_freq,Transportation_type,Obesity_level
0,Female,21,1.62,64.00,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0,1.000000,no,Public_Transportation,Normal
1,Female,21,1.52,56.00,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3,0.000000,Sometimes,Public_Transportation,Normal
2,Male,23,1.80,77.00,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2,1.000000,Frequently,Public_Transportation,Normal
3,Male,27,1.80,87.00,no,no,3.0,3.0,Sometimes,no,2.000000,no,2,0.000000,Frequently,Walking,Overweight
4,Male,22,1.78,89.80,no,no,2.0,1.0,Sometimes,no,2.000000,no,0,0.000000,Sometimes,Public_Transportation,Overweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,21,1.71,131.41,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,2,0.906247,Sometimes,Public_Transportation,Obese
2107,Female,22,1.75,133.74,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1,0.599270,Sometimes,Public_Transportation,Obese
2108,Female,23,1.75,133.69,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1,0.646288,Sometimes,Public_Transportation,Obese
2109,Female,24,1.74,133.35,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1,0.586035,Sometimes,Public_Transportation,Obese
2110,Female,24,1.74,133.47,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1,0.714137,Sometimes,Public_Transportation,Obese

In [166]:
latin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   int32
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   Family_history_with_overweight  2111 non-null   object
 5   High_caloric_food_freq          2111 non-null   object
 6   Vegetables_eating_freq          2111 non-null   float64
 7   Daily_main_meals                2111 non-null   float64
 8   Any_food_between_meals          2111 non-null   object
 9   Smoke                           2111 non-null   object
 10  Daily_water                     2111 non-null   float64
 11  Monitor_daily_calories          2111 non-null   object
 12  Activity_freq                   2111 non-null   int32
 13  Tech_usage_time                 2111 non-null   float64
 14  Alcohol_freq                    2111 non-null   object
 15  Transportation_type             2111 non-null   object
 16  Obesity_level                   2111 non-null   object
dtypes: float64(6), int32(2), object(9)
memory usage: 264.0+ KB

In [176]:
usa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region         1000 non-null   object
 1   Gender         1000 non-null   object
 2   Age            1000 non-null   int64
 3   Height         1000 non-null   float64
 4   Weight         1000 non-null   float64
 5   Activity_freq  1000 non-null   int64
 6   Obesity_level  1000 non-null   object
 7   BMI            1000 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 62.6+ KB

In [167]:
# cheks for duplicates and takes them out
#latin_data.isnull().sum()
#usa_data.isnull().sum()
#latin_data.duplicated().any()
latin_data.drop_duplicates(inplace=True)
latin_data

,Gender,Age,Height,Weight,Family_history_with_overweight,High_caloric_food_freq,Vegetables_eating_freq,Daily_main_meals,Any_food_between_meals,Smoke,Daily_water,Monitor_daily_calories,Activity_freq,Tech_usage_time,Alcohol_freq,Transportation_type,Obesity_level
0,Female,21,1.62,64.00,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0,1.000000,no,Public_Transportation,Normal
1,Female,21,1.52,56.00,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3,0.000000,Sometimes,Public_Transportation,Normal
2,Male,23,1.80,77.00,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2,1.000000,Frequently,Public_Transportation,Normal
3,Male,27,1.80,87.00,no,no,3.0,3.0,Sometimes,no,2.000000,no,2,0.000000,Frequently,Walking,Overweight
4,Male,22,1.78,89.80,no,no,2.0,1.0,Sometimes,no,2.000000,no,0,0.000000,Sometimes,Public_Transportation,Overweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,21,1.71,131.41,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,2,0.906247,Sometimes,Public_Transportation,Obese
2107,Female,22,1.75,133.74,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1,0.599270,Sometimes,Public_Transportation,Obese
2108,Female,23,1.75,133.69,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1,0.646288,Sometimes,Public_Transportation,Obese
2109,Female,24,1.74,133.35,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1,0.586035,Sometimes,Public_Transportation,Obese
2110,Female,24,1.74,133.47,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1,0.714137,Sometimes,Public_Transportation,Obese

In [168]:
# drops unneeded columns
drop_col = ['Family_history_with_overweight', 'High_caloric_food_freq', 'Vegetables_eating_freq', 'Daily_main_meals', 'Any_food_between_meals', 'Smoke', 'Daily_water', 'Monitor_daily_calories', 'Tech_usage_time', 'Alcohol_freq', 'Transportation_type']

latin_data.drop(drop_col, axis=1, inplace=True)
latin_data

      Gender  Age  Height  Weight  Activity_freq Obesity_level
0     Female   21    1.62   64.00              0        Normal
1     Female   21    1.52   56.00              3        Normal
2       Male   23    1.80   77.00              2        Normal
3       Male   27    1.80   87.00              2    Overweight
4       Male   22    1.78   89.80              0    Overweight
...      ...  ...     ...     ...            ...           ...
2106  Female   21    1.71  131.41              2         Obese
2107  Female   22    1.75  133.74              1         Obese
2108  Female   23    1.75  133.69              1         Obese
2109  Female   24    1.74  133.35              1         Obese
2110  Female   24    1.74  133.47              1         Obese

[2086 rows x 6 columns]

In [169]:
# adds new column 
latin_data["Region"] = 'Latin America'
usa_data["Region"] = 'North America'

latin_data

      Gender  Age  Height  Weight  Activity_freq Obesity_level         Region
0     Female   21    1.62   64.00              0        Normal  Latin America
1     Female   21    1.52   56.00              3        Normal  Latin America
2       Male   23    1.80   77.00              2        Normal  Latin America
3       Male   27    1.80   87.00              2    Overweight  Latin America
4       Male   22    1.78   89.80              0    Overweight  Latin America
...      ...  ...     ...     ...            ...           ...            ...
2106  Female   21    1.71  131.41              2         Obese  Latin America
2107  Female   22    1.75  133.74              1         Obese  Latin America
2108  Female   23    1.75  133.69              1         Obese  Latin America
2109  Female   24    1.74  133.35              1         Obese  Latin America
2110  Female   24    1.74  133.47              1         Obese  Latin America

[2086 rows x 7 columns]

In [170]:
# resets the index numbering
latin_data.reset_index(drop=True, inplace=True)
latin_data

      Gender  Age  Height  Weight  Activity_freq Obesity_level         Region
0     Female   21    1.62   64.00              0        Normal  Latin America
1     Female   21    1.52   56.00              3        Normal  Latin America
2       Male   23    1.80   77.00              2        Normal  Latin America
3       Male   27    1.80   87.00              2    Overweight  Latin America
4       Male   22    1.78   89.80              0    Overweight  Latin America
...      ...  ...     ...     ...            ...           ...            ...
2081  Female   21    1.71  131.41              2         Obese  Latin America
2082  Female   22    1.75  133.74              1         Obese  Latin America
2083  Female   23    1.75  133.69              1         Obese  Latin America
2084  Female   24    1.74  133.35              1         Obese  Latin America
2085  Female   24    1.74  133.47              1         Obese  Latin America

[2086 rows x 7 columns]

In [171]:
# makes a new column and calcuates bmi
latin_data["BMI"] = latin_data.apply(lambda row: row['Weight'] / row['Height'], axis=1)
latin_data['BMI'] = latin_data['BMI'].apply(lambda val: round(val, 2))

latin_data

,Gender,Age,Height,Weight,Activity_freq,Obesity_level,Region,BMI
0,Female,21,1.62,64.00,0,Normal,Latin America,39.51
1,Female,21,1.52,56.00,3,Normal,Latin America,36.84
2,Male,23,1.80,77.00,2,Normal,Latin America,42.78
3,Male,27,1.80,87.00,2,Overweight,Latin America,48.33
4,Male,22,1.78,89.80,0,Overweight,Latin America,50.45
...,...,...,...,...,...,...,...,...
2081,Female,21,1.71,131.41,2,Obese,Latin America,76.85
2082,Female,22,1.75,133.74,1,Obese,Latin America,76.42
2083,Female,23,1.75,133.69,1,Obese,Latin America,76.39
2084,Female,24,1.74,133.35,1,Obese,Latin America,76.64
2085,Female,24,1.74,133.47,1,Obese,Latin America,76.71

In [172]:
# Reorders the columns
col_order = ['Region', 'Gender', 'Age', 'Height', 'Weight', 'Activity_freq', 'Obesity_level', 'BMI' ]
latin_data = latin_data[col_order]
usa_data = usa_data[col_order]

In [173]:
latin_data

,Region,Gender,Age,Height,Weight,Activity_freq,Obesity_level,BMI
0,Latin America,Female,21,1.62,64.00,0,Normal,39.51
1,Latin America,Female,21,1.52,56.00,3,Normal,36.84
2,Latin America,Male,23,1.80,77.00,2,Normal,42.78
3,Latin America,Male,27,1.80,87.00,2,Overweight,48.33
4,Latin America,Male,22,1.78,89.80,0,Overweight,50.45
...,...,...,...,...,...,...,...,...
2081,Latin America,Female,21,1.71,131.41,2,Obese,76.85
2082,Latin America,Female,22,1.75,133.74,1,Obese,76.42
2083,Latin America,Female,23,1.75,133.69,1,Obese,76.39
2084,Latin America,Female,24,1.74,133.35,1,Obese,76.64
2085,Latin America,Female,24,1.74,133.47,1,Obese,76.71

In [174]:
usa_data

,Region,Gender,Age,Height,Weight,Activity_freq,Obesity_level,BMI
0,North America,Male,56,1.74,71.98,4,Normal weight,23.89
1,North America,Male,69,1.64,89.96,2,Obese,33.40
2,North America,Female,46,1.68,72.93,4,Overweight,25.82
3,North America,Male,32,1.68,84.89,3,Overweight,29.91
4,North America,Male,60,1.84,69.04,3,Normal weight,20.49
...,...,...,...,...,...,...,...,...
995,North America,Male,18,1.56,64.10,4,Overweight,26.48
996,North America,Female,35,1.65,97.64,1,Obese,35.83
997,North America,Female,49,1.57,78.80,1,Obese,32.15
998,North America,Male,64,1.64,57.98,4,Normal weight,21.51
999,North America,Female,66,1.79,74.96,1,Normal weight,23.52

# Visuals